@import "tweet.scss";
// @import "options.scss";
@import "header.scss";

@font-face {
  font-family: 'VCR OSD Mono';
  src: url('../font/VCR_OSD_MONO.woff') format('woff');
}

div {
  box-sizing: border-box;
}

p {
  margin: 0;
}

#content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  min-height: 750px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 20px;
}

#tweet--border,
#options {
  max-width: 660px;
}

#options--profile-picture-upload {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
}