@import "variables.scss";

.tweet--verified {
  margin-left: 5px;
}

#tweet--border {
  border-radius: 1px;
  border: 1px solid #dddddd;
  width: 100%;
}

#tweet {
  font-family: $tweet-font;
  width: 100%;

  b {
    color: #1da1f2;
    font-weight: normal;
  }
}

#tweet--container {
  width: 100%;
  background-color: white;
  padding: 20px;
}

#tweet--info {
  height: 48px;
  display: flex;
  margin-bottom: 15px;
}

#tweet--profile-picture {
  background-color: black;
  border-radius: 100%;
  width: 48px;
  height: 48px;
  background-image: url("../images/donald-trump.jpg");
  background-size: cover;
  border: 1px solid transparent;
}

.square {
  width: 100%;
  padding-bottom: 100%;
  background-image: url("../images/donald-trump.jpg");
  background-size: cover;
}

#tweet--info__names {
  height: 48px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 0 0 0 10px;
}

#tweet--info__names p {
  margin: 0;
}

#tweet--info__names--name {
  font-weight: bold;
  font-size: 18px;
  color: #14171a;
}

#tweet--info__names--username {
  font-size: 14px;
  color: #657786;
}

#tweet--text {
  font-size: 27px;
  letter-spacing: .01em;
  color: #14171a;
  margin: 0;
}

#tweet--quote-tweet__container {
  margin: 20px 0 0 0;
  border: solid 1px #e6ecf0;
  border-radius: 4px;
}

#tweet--quote-tweet {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  color: #14171a;
}

#tweet--quote-tweet__names {
  display: flex;
}

#tweet--quote-tweet__names--name {
  font-weight: bold;
}

#tweet--info__names--name__container {
  display: flex;
  flex-direction: row;
}

#tweet--quote-tweet__names--username {
  color: #657786;
  margin: 0 0 0 6px;
}

#tweet--quote-tweet__text {
  margin-top: 4px;
  line-height: 20px;
}

#tweet--details {
  font-size: 14px;
  color: #657786;
  margin-top: 12px;
}

#tweet--profile-picture__button {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
